<style>
    .search-container {
        margin-bottom: 25px;
        margin-top: 15px;
    }

        .search-container input[type="text"],
        .search-container button {
            vertical-align: middle;
        }

        .search-container input[type="text"] {
            height: 34px;
        }

        .search-container button {
            height: 34px;
            margin-left: 5px;
            margin-right: 5px;
        }
</style>

@model MyBakeryFinal.ViewModels.Orders.SearchVM
@{
}

<h4>Search by order details</h4>

<div class="search-container">
    <form id="searchForm" action="/Orders/Search" method="post" onsubmit="return validateSearchForm()">
        <input type="text" id="firstName" placeholder="Search.." name="firstName">
        <button type="submit" class="btn btn-success p-3 py-1">Search</button>
        <a href="/Orders/Index" class="btn btn-danger p-3 py-1">Reset</a>
    </form>
</div>

<h2>Orders</h2>

<table class="table">

    <tr>
        <th style="text-align: center">
            Details
        </th>
        <th style="text-align: center">
            Quantity
        </th>
        <th style="text-align: center">
            Customer
        </th>
        <th style="text-align: center">
            Baker
        </th>
        <th style="text-align: center">
            Placed On
        </th>
        <th style="text-align: center">
            Express delivery
        </th>
        <th style="text-align: center">
            Total (BGN)
        </th>
        <th style="text-align: center">
            Tip (BGN)
        </th>
        <th style="text-align: center" colspan="2">
            Actions
        </th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td style="text-align: center">
                @item.Details
            </td>
            <td style="text-align: center">
                @item.Quantity
            </td>
            <td style="text-align: center">
                @item?.Customer?.FirstName @item?.Customer?.LastName
            </td>
            <td style="text-align: center">
                @item?.Baker?.FirstName @item?.Baker?.LastName
            </td>
            <td style="text-align: center">
                @item?.PlacedOn
            </td>
            @if (item.IsExpress)
            {
                <td style="text-align: center">Yes</td>
            }
            else
            {
                <td style="text-align: center">No</td>
            }
            <td style="text-align: center">
                @item?.Total
            </td>
            <td style="text-align: center">
                @item?.Tip
            </td>
            <td style="text-align: center">
                <a href="/Orders/Edit?id=@item.Id" class="text-primary">Edit</a>
            </td>
            <td style="text-align: center">
                <a href="/Orders/Delete?id=@item.Id" class="text-danger" method="delete" onclick="return confirm('Delete Order?');">Delete</a>
            </td>
        </tr>
    }

</table>

<div class="d-flex justify-center">
    <a href="/Orders/Add" class="btn btn-success p-3 py-1">Add +</a>
</div>

<script>
    function validateSearchForm() {
        var firstName = document.getElementById("firstName").value;
        if (firstName.trim() === "") {
            alert("Please enter a name to search.");
            return false;
        }
        return true;
    }
</script>